.App {
  text-align: center;
  
}

.App-header {
  
  height: 10rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #681a1a;
}

.App-header img {
  width: 5rem;
  margin: 10px;
}



main {
  display: flex;
}